VITE_SUPABASE_URL=https://tqqfeowkzgxmlafltuhp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxcWZlb3dremd4bWxhZmx0dWhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTIwOTAsImV4cCI6MjA3MjY2ODA5MH0.IxAuQxFSUcYNRSP3WNtJshVIncMsEcIxWtRYf4NSvn0
VITE_API_URL=http://localhost:3001
VITE_SOCKET_URL=http://localhost:3001
